name: 'publish'

on:
  pull_request:
    branches:
      - master

jobs:
  publish_job:
    runs-on: [macos-latest, ubuntu-latest, windows-latest]
    steps:
      - uses: actions/checkout@v2
      - name: setup node
        uses: actions/setup-node@v4.0.0
        with:
          node-version: 18.x
      - name: install app dependencies and build it
        run: yarn && yarn make